* {
    margin: 0px;
}

.container-atas {
    display: flex;
    justify-content: center;

}

img.gambar {
    width: 25em;
    margin: 18px;
}

.container-bawah {
    display: flex;
    justify-content: center;
}

img.gambar1 {
    width: 15em;
    margin: 8.8px;
}