* {
    margin: 0px;
}

body {
    display: flex;
    box-sizing: border-box;
}


nav {
    background-color: pink;
    height: 38.8em;
    width: 10em;
}

.container {
    flex: 1;
}

.container header, footer {
    background-color: khaki;
    height: 3cm;

}

.main {
    display: flex;
}

article, aside {
    height: 24.2vw;
}

.main > article {
    order: 1;
    width: 40em;
}

.main > aside {
    background: #03DAC5;
    order: 2;
    width: 29.4em;
}

nav, header, article, aside, footer {
    padding: 1em;
}