body {
    margin: 0px;
}

.atas {
    background-color: #bdbdbd;
    height: 76px;
    border-bottom: solid;
}

.atas ul {
    float: left;
    margin-top: 17px;
    padding-right: 58px;
    margin-left: 28px;
    font-size: 33px;
    list-style-type: square;
    font-weight: bolder;
}

.navbar {
    padding-top: 26px;
    font-size: 20px;
    display: inline-block;
}

.nav-kanan {
    float: right;
    margin-right: 1cm;
    padding-top: 6px;
}

.nav-kanan img {
    width: 35px;
}

.nav-kanan h2 {
    float: right;
    font-size: 23px;
    margin-top: 5px;
    padding-left: 4px;
}

section {
    margin-top: 39px;
    margin-left: 28px;
}

.kiri {
    margin-right: 90px;
    float: left;
}

td.ceklis {
    width: 150px;
    text-align: center;
}

p.customer {
    font-size: 20px;
    margin-bottom: 5px;
}

.infor-custom {
    border-spacing: 28px 15px;
}

td.tabel-kanan {
    padding-left: 140px;
}

.kanan {
    background-color: #bdbdbd;
    width: 250px;
    height: 250px;
    margin: 14px 3cm 0px 0px;
    float: right;
}

table.rincian,.card {
    margin: 8px 0px 12px 9px;
}

td.summ {
    font-weight: bold;
    margin-bottom: 12px;
}

table.rincian,.card td {
    padding-bottom: 5px;
}

td.harga {
    float: right;
    text-align: right;
    padding-left: 57px;
}

hr.garis,.garis1 {
    width: 224px;
    height: 1px;
    background-color: white
}

hr.garis1 {
    margin-bottom: 2px;
}

table.total {
    padding: 0px 50px 12px 9px;
    font-weight: bold;
}

td.jumlah {
    padding-left: 147px;
}

footer {
    height: 90px;
    margin-top: 500px;
    border-top: 3px solid;
}

footer .logo {
    float: left;
    margin-left: 30px;
}

footer .logo p {
    margin-bottom: 0px;
    font-size: 23px;
    margin-top: 18px;
}

footer .logo img {
    width: 30px;
}

footer nav {
    float: left;
    margin-top: 20px;
    font-size: 18px;
}

div.menukanan {
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    list-style-type: none;
}

button.email {
    background-color: dimgray;
    color: white;
    height: 20px;
}