.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
}

.lowongan{
    margin-top: 70px;
}

.kategori{
    border: black 1px solid;
    height: 210px;
    background-color: blanchedalmond;
}